[class*="col"]{
    min-height: 50px;
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

body{
   background-image: url("../img/napoli.jpg");
   background-size: cover;
}

.napoli{
    background-color: #12a0d7;
        /* DEBUG */
    border: 1px solid #ffffff;
}

.white{
    background-color: white;
}

.blue{
    background-color: #003c82;
        /* DEBUG */
    border: 1px solid #ffffff;
}

h1{
    text-align: center;
    color: #12a0d7;
}

span{
    color: #12a0d7;
    font-size: 25px;
}